*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


:root{
    --White: #fff;
    --Background : #101010;
    --MainBlack : #080808;
    --MainGreen : #68A054;
    --MainGray : #323232;
    --MainGrayHover : #4a4a4a;
}